.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;

  gap: 24px
}

.headerTitle {
  font-size: 32px;
}

.headerNav {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px
}

.navList {
  list-style-type: none;
  padding: 0;
  display: flex;
  gap: 10px;
}

.navList li {
  display: inline;
}

/* responsive */
@media (max-width: 768px) {
  .container {
    position: relative;
  }


}